body{
    background-color: brown;
    text-align: center;
}
logo.jpg{
    width= ;
}
h1 {
    font-size: 76px;
    text-align: center;
    background-color:rgb(75, 40, 38);
    margin-inline-start:20px;
    margin-inline-end: 20px;
h2{
    font-size: 50px;
}
h3{
    font-size: 36px;
}
p{
    font-size: 18px;
}

